Package: hamonikr-backgrounds-me
Version: 0.0.5-1
Architecture: all
Maintainer: HamoniKR <pkg@hamonikr.org>
Installed-Size: 53143
Section: admin
Priority: optional
Homepage: https://hamonikr.org
Description: HamoniKR-ME Backgrounds
  하모니카 ME 배경화면
