Source: hamonikr-backgrounds-me
Section: admin
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Standards-Version: 0.0.5

Package: hamonikr-backgrounds-me
Architecture: all
Depends:
Homepage: https://hamonikr.org
Description: HamoniKR-ME Backgrounds
  하모니카 ME 배경화면
