Package: hamonikr-backgrounds
Version: 1.1.0
Architecture: all
Maintainer: Kevin Kim <chaeya@gmail.com>
Installed-Size: 8569
Depends: plank
Section: gnome
Priority: optional
Homepage: https://hamonikr.org
Description: HamoniKR background resources.
 하모니카 사용자를 위한 배경화면입니다.
